body{
  font-size: 20px; font-family: cursive; margin: 0;
  background: white;
  background-image: url(../images/back.jpg);
}
h1,h2,h3,h4,h5,h6,p,ul{
  margin: 0;padding: 0.5%;
}
header{
    text-align: center;background: pink;
}
.menubar{
    background: pink;
}
.menubar ul {
  display: flex;flex-direction: row;justify-content: space-around;
}.menubar ul li a:hover{
  background: red;border-radius: 60px;
}
img src{
  width: 40px;height:30px;
}
